/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilos para marcas */
.marca {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.marca h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para consolas */
.consola {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.consola .detalles {
    flex-grow: 1;
    margin-left: 20px;
}

/* Estilos para el contenedor de búsqueda */
.search-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
